<header>
	<div class="upper-menu-container">
		<a class="logo" href="{{ base_path }}/index.php">
			<i class="fa-solid fa-house"></i>
		</a>
		<form class="search-bar" action="{{ base_path }}/pages/product.php?action=searching" method="GET">
			<input type="text" name="search" placeholder="Rechercher un article..." aria-label="Search">
			<button type="submit">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</form>
		<ul>
			<li><a class="otherPages"href="{{base_path}}/pages/userActions.php?action=login"><i class="fa-regular fa-user"></i></a></li>
			<li><a class="otherPages"href="{{base_path}}/pages/userActions.php?action=favorites"><i class="fa-regular fa-heart"></i></a></li>
			<li><a class="otherPages"href="{{base_path}}/pages/checkout.php?action=basket"><i class="fa-solid fa-cart-shopping"></i></a></li>
		</ul>
	</div>
	<nav>
		<ul>
			{% for category in categories %}
				<li class="dropdown">
					<a href="{{ base_path }}/pages/product.php?action=list&category_id={{ category.category_id }}" class="dropbtn">{{ category.name }}</a>
					<div class="dropdown-content">
						{% for subcategory in subcategories %}
							{% if subcategory.category_id == category.category_id %}
								<a href="{{ base_path }}/pages/product.php?action=list&category_id={{ category.category_id }}&subcategory_id={{ subcategory.subcategory_id }}">{{ subcategory.name }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
