<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Era Explorer
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ base_path }}/assets/css/reset.css">
		<link rel="stylesheet" href="{{ base_path }}/assets/css/style.css"> {% block css %}{% endblock %}
		<link id="favicon" rel="icon" type="image/x-icon" href="{{ base_path }}/assets/images/icons/wave.ico"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
		<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Hind:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Elite&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	</head>
	<body class="{{ bodyclass }}">
		{% if withHeader ?? true %}
			{% include 'includes/header.twig' %}
		{% endif %}
		<main>
			{% if login_msg != null %}
				<div id="toast-message">{{login_msg}}</div>
			{% endif %}
			{% block main %}{% endblock %}
		</main>
		{% if withFooter ?? true %}
			{% include 'includes/footer.twig' %}
		{% endif %}
		{% block js %}{% endblock %}
		<script src="{{ base_path }}/assets/js/headerVolumeToggle.js"></script>
		<script>
			const basePath = '{{ base_path }}';
		</script>
		<script src="{{ base_path }}/assets/js/dynamicFaviconAnimator.js"></script>
		<script src="{{ base_path }}/assets/js/miscellaneousEffects.js"></script>
	</body>
</html>
