{% set bodyclass = current_category.name|lower|replace({' ': '', '_': ''})|replace({'á': 'a', 'à': 'a', 'â': 'a', 'ä': 'a', 'ã': 'a', 'å': 'a', 'é': 'e', 'è': 'e', 'ê': 'e', 'ë': 'e'}) %}

{% extends "includes/base.twig" %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ base_path }}/assets/css/product_detail.css">
{% endblock %}

{% block main %}

	<a id="back-link" href="#">
		<i class="fa-solid fa-arrow-left"></i>
		Revenir
	</a>

	<h1>{{ current_category.name }}</h1>

	<div class="article-info">
		<div
			class="zoom-container">
			<!-- Image de l'article avec effet zoom -->
			<img id="myimage" src="{{ base_path }}/assets/images/articles/{{ article.image_url }}" alt="{{ article.title }}" class="zoom-image">
			<div class="zoom-lens"></div>
		</div>

		{# Vérification si l'article est dans les favoris #}
		{% set is_favorite = false %}
		{% for fav in favorites %}
			{% if fav.article_id == article.article_id %}
				{% set is_favorite = true %}
			{% endif %}
		{% endfor %}

		{# Vérification si l'article est dans le panier #}
		{% set in_cart = false %}
		{% for item in cart %}
			{% if item.article_id == article.article_id %}
				{% set in_cart = true %}
			{% endif %}
		{% endfor %}

		<div class="article-details">
			<h3>{{ article.title }}</h3>
			<p>{{ article.description }}</p>

			<div class="article-action">
				<p class="price">
					{{ article.price * current_category.currency_rate }}
					{{ article.price * current_category.currency_rate > 1 ? current_category.currency_name ~ 's' : current_category.currency_name }}
					({{ article.price }}
					€)
				</p>
				{# Formulaires pour ajouter/supprimer des favoris #}
				{% if is_favorite %}
					<button class="favorite-btn" data-action="remove_favorite" data-article-id="{{ article.article_id }}">Retirer des favoris</button>
				{% else %}
					<button class="favorite-btn" data-action="add_favorite" data-article-id="{{ article.article_id }}">Ajouter aux favoris</button>
				{% endif %}

				{# Formulaires pour ajouter au panier ou voir le panier #}
				{% if in_cart %}
					<a href="{{ base_path }}/pages/checkout" class="button cart-btn">Voir le panier</a>
				{% else %}
					<button class="cart-btn" data-action="add_to_cart" data-article-id="{{ article.article_id }}">Ajouter au panier</button>
				{% endif %}
			</div>

			<p>Vendu par :
				<a href="{{ base_path }}/pages/product?action=list&seller_id={{ seller.seller_id }}">{{ seller.name }}</a></p>
			<p>Mise en vente en :
				{{ article.sale_year }}</p>
			<p>Stock :
				{{ article.stock == 0 ? 'Épuisé' : article.stock }}</p>
			<p>Mots-clés :
				{% for keyword in keywords %}
					<a href="{{ base_path }}/pages/product?action=list&keyword_id={{ keyword.keyword_id }}">{{ keyword.name }}</a><i class="fa-regular fa-xmark"></i>
					{{ not loop.last ? ',' }}
				{% endfor %}
				<i class="fa-solid fa-plus"></i>
			</p>
		</div>
	</div>

	<div class="additional-info">
		<p>Date de création :
			{{ article.created_at }}, date de modification :
			{{ article.updated_at }}</p>
		<div class="tags">
			{% for tag in article.tags %}
				<span>{{ tag.name }}</span>
			{% endfor %}
		</div>
	</div>

	<div class="lower-part">
		<div class="comments-section">
			<h3>Commentaires</h3>
			<div class="comment">
				<p class="username">@username</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="date">Date de création</p>
			</div>
			<div class="add-comment">
				<textarea placeholder="Ajouter un commentaire..."></textarea>
				<button>Envoyer</button>
			</div>
		</div>

		<div class="suggested-articles">
			<h3>Autres articles pour vous</h3>
			<div class="articles-grid">
				<div class="article-card">
					<img src="{{ base_path }}/assets/images/articles/sample1.jpg" alt="Titre">
					<h4>Titre</h4>
					<p>Description courte</p>
				</div>
				<div class="article-card">
					<img src="{{ base_path }}/assets/images/articles/sample2.jpg" alt="Titre">
					<h4>Titre</h4>
					<p>Description courte</p>
				</div>
				<div class="article-card">
					<img src="{{ base_path }}/assets/images/articles/sample3.jpg" alt="Titre">
					<h4>Titre</h4>
					<p>Description courte</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
	<script src="{{ base_path }}/assets/js/articleLens.js"></script>
	<script src="{{ base_path }}/assets/js/favcartManager.js"></script>
{% endblock %}
