{% set bodyclass = 'theme-' ~ current_category.name|lower|replace({' ': '', '_': ''}) %}

{% extends "includes/base.twig" %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ base_path }}/assets/css/product_detail.css">
{% endblock %}

{% block main %}
	<div id="background-image"></div>

	<a id="back-link" href="#">
		<i class="fa-solid fa-arrow-left"></i>
		Revenir
	</a>

	<h1>{{ current_category.name }}</h1>

	<div class="article-info">
		<div
			class="zoom-container">
			<!-- Image de l'article avec effet zoom -->
			<img id="myimage" src="{{ base_path }}/assets/images/articles/{{ article.image_url }}" alt="{{ article.title }}" class="zoom-image">
			<div class="zoom-lens"></div>
		</div>

		<div class="article-details">
			<h3>{{ article.title }}</h3>
			<p>{{ article.description }}</p>

			<div class="article-action">
				<p class="price">
					{{ article.price * current_category.currency_rate }}
					{{ article.price * current_category.currency_rate > 1 ? current_category.currency_name ~ 's' : current_category.currency_name }}
					<span>(
						{{ article.price|replace({'.': ','})}}
						€ )</span>
				</p>
				{# Formulaires pour ajouter/supprimer des favoris #}
				{% if is_favorite %}
					<button class="favorite-btn" data-action="remove_favorite" data-article-id="{{ article.article_id }}">Retirer des favoris</button>
				{% else %}
					<button class="favorite-btn" data-action="add_favorite" data-article-id="{{ article.article_id }}">Ajouter aux favoris</button>
				{% endif %}

				{# Formulaires pour ajouter au panier ou voir le panier #}
				{% if is_in_cart %}
					{# <a href="{{ base_path }}/pages/checkout" class="button cart-btn">Voir le panier</a> #}
					<button class="cart-btn" data-action="view_cart" data-article-id="{{ article.article_id }}">Voir le panier</button>
				{% else %}
					<button class="cart-btn" data-action="add_to_cart" data-article-id="{{ article.article_id }}">Ajouter au panier</button>
				{% endif %}
			</div>
			<p>
				<span>Vendu par :</span>
				<a href="{{ base_path }}/pages/product?action=list&seller_id={{ seller.seller_id }}">{{ seller.name }}</a>
			</p>
			<p>
				<span>Mise en vente en :</span>
				{{ article.sale_year < 0 ? (article.sale_year|abs ~ ' avant J.C.') : article.sale_year }}</p>
			<p>
				<span>Stock :</span>
				{{ article.stock == 0 ? 'Épuisé' : article.stock }}</p>
			<p class="tags">
				{% for keyword in keywords %}
					<span>
						<a href="{{ base_path }}/pages/product?action=list&keyword_id={{ keyword.keyword_id }}">{{ keyword.name }}</a>
					</span>
				{% endfor %}
				<a href="">
					<i class="fa-solid fa-plus"></i>
				</a>
			</p>
		</div>
	</div>

	<div class="additional-info">
		<p>Publié le :
			{{ article.created_at|date("d F Y à H\\hi") }}
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						Modifié le :
			{{ article.updated_at|date("d F Y à H\\hi") }}</p>
	</div>
</div>

<div class="lower-part">
	<div class="comments-section">
		<h3>Commentaires</h3>
		<div class="add-comment">
			<textarea placeholder="Ajouter un commentaire..."></textarea>
			<button>Envoyer</button>
		</div>
		<div class="comment">
			<p class="username">@username</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<p class="date">Date de création</p>
		</div>
	</div>

	<div class="suggested-articles">
		<h3>Autres articles pour vous</h3>
		<div class="articles-grid">
			<div class="article-card">
				<img src="{{ base_path }}/assets/images/articles/sample1.jpg" alt="Titre">
				<h4>Titre</h4>
				<p>Description courte</p>
			</div>
			<div class="article-card">
				<img src="{{ base_path }}/assets/images/articles/sample2.jpg" alt="Titre">
				<h4>Titre</h4>
				<p>Description courte</p>
			</div>
			<div class="article-card">
				<img src="{{ base_path }}/assets/images/articles/sample3.jpg" alt="Titre">
				<h4>Titre</h4>
				<p>Description courte</p>
			</div>
		</div>
	</div>
</div>{% endblock %}{% block js %}
<script src="{{ base_path }}/assets/js/articleLens.js"></script>
<script src="{{ base_path }}/assets/js/favcartManager.js"></script>{% endblock %}
