{% set bodyclass = current_category.name|lower|replace({' ': '', '_': ''})|replace({'á': 'a', 'à': 'a', 'â': 'a', 'ä': 'a', 'ã': 'a', 'å': 'a', 'é': 'e', 'è': 'e', 'ê': 'e', 'ë': 'e'}) %}

{% extends "includes/base.twig" %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ base_path }}/assets/css/product_detail.css">
{% endblock %}

{% block main %}

	<a id="back-link" href="#">
		<i class="fa-solid fa-arrow-left"></i>
		Revenir</a>
	<h1>{{ current_category.name }}</h1>
	<div class="article-info">
		<div class="zoom-container">
			<img id="myimage" src="{{ base_path }}/assets/images/articles/{{ article.image_url }}" alt="{{ article.title }}" class="zoom-image">
			<div class="zoom-lens"></div>
		</div>
		{% set is_favorite = false %}
		{% for fav in favorites %}
			{% if fav.article_id == article.article_id %}
				{% set is_favorite = true %}
			{% endif %}
		{% endfor %}
		<div class="article-details">
			<h3>{{ article.title }}</h3>
			<p>{{ article.description }}</p>
			<p class="price">{{ article.price * current_category.currency_rate }}
				{{ article.price * current_category.currency_rate > 1 ? current_category.currency_name ~ 's' : current_category.currency_name }}
				({{ article.price }}
				€)</p>
			{% if is_favorite %}
				<form action="{{ base_path }}/include/fav_cart_controller.php?action=remove_favorite" method="POST">
					<input type="hidden" name="article_id" value="{{ article.article_id }}">
					<button type="submit">Retirer des favoris</button>
				</form>
			{% else %}
				<form action="{{ base_path }}/include/fav_cart_controller.php?action=add_favorite" method="POST">
					<input type="hidden" name="article_id" value="{{ article.article_id }}">
					<button type="submit">Ajouter aux favoris</button>
				</form>
			{% endif %}
			<form action="{{ base_path }}/include/fav_cart_controller.php?action=add_to_cart" method="POST">
				<input type="hidden" name="article_id" value="{{ article.article_id }}">
				<button type="submit">Ajouter au panier</button>
			</form>
			<p>Vendu par :
				{{ seller.name }}</p>
			<p>Mise en vente en :
				{{ article.sale_year }}</p>
			<p>Stock :
				{{ article.stock == 0 ? 'Épuisé' : article.stock }}</p>
			<p>Mots-clés :
				{% for keyword in keywords %}
					{{ keyword.name }}<i class="fa-regular fa-xmark"></i>
					{{ not loop.last ? ',' }}
				{% endfor %}
				<i class="fa-solid fa-plus"></i>
			</p>
		</div>
	</div>

	<div class="additional-info">
		<p>Date de création :
			{{ article.created_at }}, date de modification :
			{{ article.updated_at }}</p>
		<div class="tags">
			{% for tag in article.tags %}
				<span>{{ tag.name }}</span>
			{% endfor %}
		</div>
	</div>

	<div class="comments-section">
		<h3>Commentaires</h3>
		<div class="comment">
			<p class="username">@username</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<p class="date">Date de création</p>
		</div>
		<div class="add-comment">
			<textarea placeholder="Ajouter un commentaire..."></textarea>
			<button>Envoyer</button>
		</div>
	</div>

	<div class="suggested-articles">
		<h3>Autres articles pour vous</h3>
		<div class="articles-grid">
			<div class="article-card">
				<img src="{{ base_path }}/assets/images/articles/sample1.jpg" alt="Titre">
				<h4>Titre</h4>
				<p>Description courte</p>
			</div>
			<div class="article-card">
				<img src="{{ base_path }}/assets/images/articles/sample2.jpg" alt="Titre">
				<h4>Titre</h4>
				<p>Description courte</p>
			</div>
			<div class="article-card">
				<img src="{{ base_path }}/assets/images/articles/sample3.jpg" alt="Titre">
				<h4>Titre</h4>
				<p>Description courte</p>
			</div>
		</div>
	</div>
</main>{% endblock %}{% block js %}
<script src="{{ base_path }}/assets/js/articleLens.js"></script>{% endblock %}
