{% set bodyclass = 'theme-' ~ current_category.name|lower|replace({' ': '', '_': ''}) %}

{% extends "includes/base.twig" %}

{% block title %}
	{{ current_category.name }}
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ base_path }}/assets/css/product_grid.css">
{% endblock %}

{% block main %}
	<div id="background-image"></div>
	<div class="grid-container">
		<div class="grid">
			{% for article in articles %}
				<a class="card-link" aria-label="{{ article.title }}" href="{{ base_path }}/pages/product?action=detail&article_id={{ article.article_id }}">
					<div class="card" data-tilt>
						<img class="article" src="{{ base_path }}/assets/images/articles/{{ article.image_url }}" alt="{{ article.title }}"/>
						<div class="text">
							<div class="price-container">
								<p>{{ article.price * current_category.currency_rate }}</p>
								<img class="cur-icon" src="{{ base_path}}/assets/images/{{ current_category.currency_icon }}" alt="{{ current_category.currency_name }}">
							</div>
							<h2>{{ article.title }}</h2>
						</div>
						<div class="bg"></div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
	<div class="epoch-switch">
		{% if previous_category.name %}
			<a href="product?action=grid&category_id={{ previous_category.category_id }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>{{ previous_category.name }}</span></a>
		{% else %}
			<div class="spacer"></div>
		{% endif %}
		<h1 class="title-letter">{{ current_category.name|upper }}</h1>
		{% if next_category.name %}
			<a href="product?action=grid&category_id={{ next_category.category_id }}">
				<span>{{ next_category.name }}</span><i class="fa-solid fa-arrow-right"></i>
			</a>
		{% else %}
			<div class="spacer"></div>
		{% endif %}
	</div>
{% endblock %}
{% block js %}
	<script>
	document.addEventListener('DOMContentLoaded', (event) => {
            const gridContainer = document.querySelector('.grid-container');
            gridContainer.scrollLeft = (gridContainer.scrollWidth - gridContainer.clientWidth) / 2;
        });
	</script>
{% endblock %}