{% extends "includes/base.twig" %}

{% block css %}
	<link rel="stylesheet" href="{{ base_path }}/assets/css/home.css">
{% endblock %}

{% block main %}
	{% if login_msg != null %}
		<div id="toast-message">{{login_msg}}</div>
	{% endif %}
	<div id="background-image"></div>
	<section class="timeline">
		<h1>Era Explorer</h1>
		<div id="timeline-container">
			{% for category in categories %}
				<div class="epoch" data-id="{{ category.category_id }}" data-name="{{ category.name }}" data-description="{{ category.description }}" data-image="{{ base_path }}/assets/images/timeline_images/{{ category.tltn_image_filename }}"></div>
			{% endfor %}
		</div>
		<a id="epoch-link" href="" class="button-19 join-button scale-up-center">Rejoindre</a>
	</section>
	<section class="featured-articles">
		<h2>Nos articles phares</h2>
		<ul>
			{% for article in top_articles %}
				<li>{{ article.title }}
					- Note moyenne :
					{{ article.moyenne_note | number_format(2) }}/5</li>
			{% endfor %}
		</ul>
	</section>
	<section class="about-us">
		<h2>À propos de nous</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
	</section>
{% endblock %}

{% block js %}
	<script src="{{ base_path }}/assets/js/interactiveTimeline.js"></script>
	<script src="{{ base_path }}/assets/js/homePageEffects.js"></script>
{% endblock %}
