{% extends "include/base.twig" %}
{% block main %}
    <div class="sheet">
        <img src="{{ base_path }}/files/images/articles/{{ article.image_url }}" alt="{{ article.title }}"/>
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
    </div>
{% endblock %}
