{% set withHeader = false %}
{% set withFooter = false %}

{% extends 'includes/base.twig' %}

{% block css %}
	<link rel="stylesheet" href="{{ base_path }}/assets/css/user_connexion.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block main %}
	<a href="../index">
		<i class="fa-regular fa-times"></i>
	</a>
	<div class="wrapper-container">
		<div class="wrapper">

			{% if error_message %}
				<div class="message">Message :
					{{ error_message }}
				</div>
			{% endif %}

			{% if mode == 1 %}

				<div class="title">Connexion</div>
				<form action="{{ base_path }}/include/connexion_controller?action=handle_login" method="POST" autocomplete="off">
					<div class="field">
						<input type="text" id="username" name="username" required>
						<label for="username">Nom d'utilisateur</label>
					</div>
					<div class="field">
						<input type="password" id="password" name="password" required autocomplete="new-password">
						<label for="password">Mot de passe</label>
						<i class="fa-regular fa-eye" id="togglePassword"></i>
					</div>
					<div class="field button">
						<button type="submit" class="action-btn">Se connecter</button>
					</div>
					<div class="signup-link">
						Pas de compte ?
						<a href="user_connexion?action=show_register_form">Créer un compte</a>.
					</div>
				</form>

			{% elseif mode == 2 %}

				<div class="title">Inscription</div>
				<form id="registerForm" action="{{ base_path }}/include/connexion_controller?action=handle_register" method="POST" autocomplete="off">
					<div class="field">
						<input type="text" id="username" name="username" required>
						<label for="username">Nom d'utilisateur</label>
					</div>
					<div class="field">
						<input type="email" id="email" name="email" required>
						<label for="email">Adresse mail</label>
					</div>
					<div class="field">
						<input type="password" id="password" name="password" required autocomplete="new-password">
						<label for="password">Mot de passe</label>
						<i class="fa-regular fa-eye" id="togglePassword"></i>
					</div>
					<div class="field">
						<input type="password" id="confirm_password" name="confirm_password" required autocomplete="new-password">
						<label for="confirm_password">Confirmez le mot de passe</label>
						<i class="fa-regular fa-eye" id="toggleConfirmPassword"></i>
					</div>
					<div class="field button">
						<button type="submit" class="action-btn">S'enregistrer</button>
					</div>
					<div class="signup-link">
						Déjà un compte ?
						<a href="user_connexion?action=show_login_form">Se connecter</a>.
					</div>
				</form>

			{% elseif mode == 3 %}

				<div class="title">Bonjour,
					{{ username }}</div>
				<div class="field logout">
					<a href="checkout" class="logout-btn">Voir le panier</a>
					<a href="{{ base_path }}/include/connexion_controller?action=logout" class="logout-btn">Se déconnecter</a>
				</div>

			{% endif %}

		</div>
	</div>
	<div class="slideshow-container"></div>
{% endblock %}

{% block js %}
	<script src="{{ base_path }}/assets/js/connexion_form.js"></script>
{% endblock %}
